OUI/MA-L                                                    Organization                                 
company_id                                                  Organization                                 
                                                            Address                                      

00-12-F2   (hex)		Brocade Communications Systems, Inc.
0012F2     (base 16)		Brocade Communications Systems, Inc.
				130 Holger Way
				San Jose  CA  95134
				US

